.container {
  margin: 0;
  padding: 0;
}
.container .hero {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 900px;
  color: #ffffff;
}
.container .hero button {
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
  padding: 18px 30px;
  border-radius: 50px;
  border: #ffffff;
  font-family: "Montserrat", sans-serif;
}
