.hero {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 909px;
  background-repeat: no-repeat;
}

.hero button {
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
  padding: 18px 30px;
  border-radius: 50px;
  border: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.hero .caption {
  padding-top: 300px;
}
